<div class="pt100">
  <div class="text-center border-form-div">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2>Log in</h2>

        <%= f.input :email, autocomplete: "email", placeholder: 'email@example.com', autofocus:true,
         error:'No Username found'%>

        <%= f.input :password, autocomplete: "off", input_html: {maxlength: 20, class:'hint'},
          error: 'Invalid Password', placeholder:'Password'%>


       <%= f.input :remember_me, as: :boolean %>
<!-- wasn't sure if this was necessary of not so I left it commented out
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
-->

        <%= f.button :submit, "Log In", input_html: {class:'shift_margin'}%>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
<br>
<%=render partial: 'layouts/footer'%>
