<div class="pt100">
  <div class="text-center border-form-div-contact" >

  <%= simple_form_for @contact do |f| %>
    <h2>Contact Us</h2>
  <% if !user_signed_in? %>

    <br>
    <%= f.input :name, autofocus: true, placeholder: 'Enter your name'%>

    <%= f.input :email, autocomplete:"email", placeholder: 'email@example.com'%>

  <% end %>

    <%= f.input :message, as: :text, input_html: {class: 'textbox', maxlength: 300},
    placeholder: 'Enter your message here'%><br>

    <%= f.button :submit, "Send Message"%>
  <% end %>
  </div>
</div>
<br><br>
<%=render partial: 'layouts/footer'%>
