<!DOCTYPE html>
<html>
  <head>
    <title>Geld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="Bootstrap Cheat Sheet/js/bootstrap.min.js"></script>

  </head>

  <body>
    <nav style="color:black;" class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('--Geld Project--', home_index_path, class: 'navbar-brand nav-geld navbar-text')%>
          </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul style="color= black;" class="nav navbar-nav navbar-text">
        <li>
        <%= link_to('Home', home_index_path) %>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>

      <!--  <li><a href="#">Sign Up</a></li> -->
      <ul class="nav navbar-nav navbar-right navbar-text">
      <% if user_signed_in? %>
        <li style="margin-top: 12px">
          Welcome <%= current_user.first_name  %>
        </li>
        <li>
          <%= link_to('Log Out', destroy_user_session_path, :method => :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path) %>
        </li>
        <li>
          <%= link_to('Sign Up', new_user_registration_path) %>
        </li>
      <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="height: 500px; background-color:WhiteSmoke;" class="jumbotron">

    <%= yield %>

<hr style="border-top-color: #989090; position: relative; bottom: 50px;" >
<footer>

  <div class="container-fluid" style="position: relative; bottom:20px;">
    <div class="row">
      <div class= "col-md-6">
        <ul class= "list-inline footer-nav">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Report Fraud</a></li>
          <li><a href="#">Privacy & Security</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <p class="outreach text-right">Join Our Community!</p>
      </div>
      <div class="icons">
        <a href="#" title="Facebook"><i class="fab fa-facebook-square fa-2x icons"></i></a>
        <a href="#" title="Instagram"><i class="fab fa-instagram fa-2x icons"></i></a>
        <a href="#" title="Twitter"><i class="fab fa-twitter fa-2x icons" ></i></a>
        <a href="#" title="Linkedin"><i class="fab fa-linkedin fa-2x icons"></i></a>
        <a href="#" title="Youtube"><i class="fab fa-youtube fa-2x icons"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="Bootstrap Cheat Sheet/js/bootstrap.min.js"></script>

</body>
</html>
