<div class="pt80">
  <div class="text-center border-form-div">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <h2>Sign up</h2>
    <div class= "container-fluid">
      <%= f.input :first_name, autocomplete: 'first_name', autofocus: true, required: true, placeholder:'First Name'%>

      <%= f.input :last_name, autocomplete: "last_name", required: true, placeholder:'Last Name'%>

      <%= f.input :email, autocomplete: "email", placeholder: 'email@example.com'%>

      <%= f.input :password, autocomplete: "off", input_html: {maxlength: 20, class:'hint'}, placeholder:'Password',
       hint: 'Must be at least 6 characters long', error: 'Password must be at least 6 characters long'%>

      <%= f.input :password_confirmation, label: 'Confirm Password', autocomplete: "off",
       input_html: {maxlength: 20},error: 'Passwords do not match',placeholder:'Confirm Password'%>

      <%= f.button :submit, "Submit"%><br><br>
    <% end %>
    <p>Already have a Geld account?<%= render "devise/shared/links" %></p>

    </div>
  </div>
</div>
<br><br>
<%=render partial: 'layouts/footer'%>
